{#
/**
 * @file media_collection.html.twig
 * Default theme implementation to present Media collection data.
 *
 * This template is used when viewing Media collection pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_media_collection()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('media_collection') }}>
  <div class="media_collection--buttons">
    <a class="back-to-collections" href="/collections">{{"Collections"|t}} »</a>
    <div class="media_collection--top">
      <h1 class="collection-title">{{content['#media_collection'].field_title.value}}</h1>
      {{ additional_collection_data.render.header }}
    </div>
    {{ additional_collection_data.render.size_info }}
    {{ additional_collection_data.render.links }}
  </div>
  <div class="media_collection--content">
    {{ content }}
  </div>
</div>
