{% if content.mid %}
  {{ attach_library('damo_theme/edit-menu.toolbar') }}
  <section class="edit-menu--toolbar">
    <div class="section__inner">
      <div class="edit-menu--buttonset">
        <a class="edit-menu--button" href="{{"/media/" ~ content.mid ~ "/edit?destination=media/" ~ content.mid }}">{{ 'Edit this asset'|t }}</a>
        <a class="edit-menu--button" href="{{"/media/" ~ content.mid ~ "/delete?destination=/" }}">{{ 'Delete this asset'|t }}</a>
      </div>
        {% if not content.status %}
        <div class="media-status--buttonset">
          <div class="media-status">
            <span class="media-status--icon">
              <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" overflow="visible" preserveAspectRatio="none" viewBox="0 0 24 24" width="24" height="24"><g><path xmlns:default="http://www.w3.org/2000/svg" id="eye-slash" d="M8.47,15.9c-1.83-0.83-3.38-2.19-4.45-3.9c0.98-1.56,2.36-2.84,4-3.68c-1.2,2.07-0.65,4.71,1.29,6.11  L8.47,15.9L8.47,15.9z M12.52,8c0,0.28-0.22,0.5-0.5,0.5c-1.2,0-2.17,0.97-2.17,2.17c0,0.28-0.22,0.5-0.5,0.5s-0.5-0.22-0.5-0.5  c0.01-1.75,1.42-3.16,3.17-3.17C12.3,7.5,12.52,7.72,12.52,8L12.52,8z M16.3,6c0-0.12-0.07-0.22-0.17-0.28l-0.2-0.12L15.6,5.41  l-0.34-0.19l-0.32-0.16C14.88,5.03,14.82,5.01,14.75,5c-0.12,0-0.23,0.06-0.29,0.17l-0.56,1C13.28,6.06,12.65,6,12.02,6  c-1.82-0.01-3.6,0.48-5.16,1.42c-1.61,0.96-2.98,2.28-4,3.86c-0.28,0.44-0.28,1,0,1.44c0.61,0.94,1.33,1.8,2.17,2.55  c0.82,0.74,1.74,1.34,2.74,1.8c-0.19,0.28-0.35,0.59-0.46,0.91c0,0.12,0.06,0.23,0.17,0.29C7.94,18.56,8.42,18.8,8.92,19  c0.12,0,0.23-0.06,0.29-0.17l0.51-0.93l3.3-5.9l3.29-5.9c0.01-0.03,0.01-0.06,0-0.09l0,0L16.3,6z M16.69,10.65  c0-0.29-0.03-0.58-0.08-0.87L13.69,15C15.49,14.31,16.69,12.58,16.69,10.65L16.69,10.65z M21.35,12c0-0.25-0.08-0.5-0.21-0.72  c-0.42-0.7-0.93-1.34-1.5-1.92c-0.58-0.59-1.21-1.13-1.9-1.59l-0.66,1.17c1.18,0.81,2.17,1.85,2.94,3.06  c-0.81,1.28-1.88,2.37-3.14,3.2c-1.22,0.82-2.63,1.31-4.09,1.43L12.02,18c1.51,0,3.01-0.34,4.37-1c1.39-0.66,2.62-1.61,3.63-2.77  c0.42-0.47,0.79-0.98,1.13-1.51C21.28,12.5,21.35,12.25,21.35,12L21.35,12z" style="fill: rgb(86, 86, 86);" vector-effect="non-scaling-stroke"/></g></svg>
            </span>
            {{ 'This asset is unpublished'|t }}
          </div>
          <div class="publish-button">
            <a class="use-ajax" data-dialog-type="modal" href="{{"/damo_media/" ~ content.mid ~ "/publish" }}">{{ 'Publish it now'|t }}</a>
          </div>
        </div>
        {% endif %}
    </div>
  </section>
{% endif %}
